/* ~~~~ Colors ~~~~ */

$darkblue: #1d2631;
$lightgrey: #f2f2f2;
$grey: #dddfe0;
$darkgrey: #283645;
$white: #ffffff;
$black: #000000;
$pink: #CD0074;
$purple: #7109AA;
$blue:  #286090;
$yellow: #FFFF00;
$darkgreen: #006C51;
$darkorange: #5F2F01;



/* ~~~~ Font ~~~~ */

$font: "Open Sans", "Arial", sans-serif;

/* ~~~~ Media ~~~~ */

$tablet: "(min-width: 660px)";
$desktop: "(min-width: 960px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
